 @import url('https://fonts.googleapis.com/css2?family=Festive&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Tourney:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    color: #222;
}
.header-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.header-text{
    font-size: 50px;
    font-family: 'Tourney', cursive;
    padding-bottom: 30px;
}
.heading-orange{
    color: #ffa500;
    font-family: 'Tourney', cursive;
}
.have{
    font-size: 30px;
}
.lead{
    font-size: 23px;
    padding-top: 30px;
}
.container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    max-width: 100%;
}
.half-width.left{
    padding: 5%;
    padding-right: 0;
}
.btn{
    padding: 10px 30px;
    background: linear-gradient(45deg, #f5aa64,#f36060);
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 7px;
    color: #fff;
    text-transform: uppercase;
}
.dream-big {
    margin-top: 50px;
    background: url(images/dream-bg.png) top right;
    background-repeat: no-repeat;
}
.dream-header{
    font-size: 55px;
    font-family: 'Tourney', cursive;
}
.will-dream{
    font-size: 30px;
    font-family: 'Tourney', cursive;
}
.dream-img{
    text-align: center;
}
.dream-right{
    padding-right: 4%;
}
/* .experience-area{
    margin-top: -120px;
} */
.experience-area .container{
    justify-content: flex-end;
}
.experience-area{
    background: url(images/exp-bg.png) left center;
    background-repeat: no-repeat;

}
.experience-header{
    text-align: center;
    font-size: 50px;
    font-family: 'Tourney', cursive;
}
.experience-width{
    margin: 0 auto;
    width: 90%;
}
.experience-card{
    /* background: #fff; */
    padding: 2% 5%;
    box-shadow: 0px 0px 25px 2px rgba(34, 34, 34, 0.507);
    width: 40%;
}
.experience-card .title{
    font-size: 40px;
    font-weight: 900;
}
.experience-card .lead{
         font-size: 20px;
         font-weight: 400;
}
.experience-card .subtitle{
    font-size: 27px;
    color: #f5aa64;
}
.experience-footer{
    display: flex !important;
    justify-content: space-between !important;
}
.footer{
    align-self: center;
}
.footer p{
    font-size: 20px;
    font-weight: 600;
    color: #888;
}
.link{
    color: #f36060;
    text-decoration: none;
}
